<table>
  <thead>
    <tr>
      <th (click)="sortTable('titulo')">Titulo</th>
      <th (click)="sortTable('autor')">Autor</th>
      <th (click)="sortTable('anio')">Año</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pelicula of listaPeliculas">
      <td>{{pelicula.titulo}}</td>
      <td>{{pelicula.autor}}</td>
      <td>{{pelicula.anio}}</td>
    </tr>
  </tbody>
</table>
<br/>
<form>
  <div>
    <div>
      <label>Titulo</label>
      <input type="text"/>
    </div>
    <br/>
    <div>
      <label>Autor</label>
      <input type="text"/>
    </div>
    <br/>
    <div>
      <label>Año</label>
      <input type="text"/>
    </div>
  </div>
</form>
<br/>
<button>Gurdar</button>
<button>Modificar</button>
<button>Borrar</button>
<button>Limpiar</button>