table{
    border: 1px solid black;
    border-radius: 10px 10px;
    padding: 5px;
}
th, td{
    border: 1px solid black;
    border-radius: 10px 10px;
    padding: 5px;
}
th{
    background-color: lightgray; 
}

th:hover{
    cursor: pointer;
    background-color: lightgoldenrodyellow;
}
tr:hover{
    cursor: pointer;
    background-color: lightCyan;
}